<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <add name="ConnectionString" connectionString="server=DESKTOP-MGSFONK\MSSQLSERVER5;database=ssms;uid=sa;password=root" />
    <add name="ssms.Properties.Settings.ssmsConnectionString" connectionString="Data Source=DESKTOP-MGSFONK\MSSQLSERVER5;Initial Catalog=ssms;Integrated Security=True"

      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>